<%= simple_form_for(@rental_record) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :customer %>
    <%= f.association :vehicle %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :lastUpdated %>
  </div>

  
<style>
.sigPad {
  margin: 0;
  padding: 0;
  width: 303px; /* Change the width */
}

.sigWrapper {
  clear: both;
  height: 108px; /* Change the height */

  border: 1px solid #ccc;
}
</style>  

    <div class="sigPad">
     <p class="drawItDesc">Draw your signature</p>
       <ul class="sigNav">
          <li class="clearButton"><a href="#clear">Clear</a></li>
        </ul>
    <div class="sig sigWrapper">
     <div class="typed"></div>
       <canvas class="pad" width="300" height="105"></canvas>
      <%= f.input :output , as: :hidden , input_html: { class: 'output' } %>
    </div>
    </div>
  <div>
    <br>
  </div>
    
    
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
